* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.contacts {
    max-width: 1200px;
    width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.contacts__wrapper {
    font-family: 'Manrope';
    background-color: #c4d5f1;
    box-shadow: 0 10px 20px gray;
    border-radius: 15px;
    color: #152f57;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Manrope';
    font-weight: 800;
    color:  #eff4fb;
    background-color: #152f57;
    cursor: pointer;
    text-transform: uppercase;
}

.contacts__input,
.modal__input {
    outline: none;
    border: none;
    width: 200px;
    padding-left: 5px;
    height: 35px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Manrope';
    color: #152f57;    
}

.contacts__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.contacts__title,
.modal__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
}

.contacts__form {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-columns: auto 3fr;
    gap: 10px;
}

.contact__name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.contact__phone {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.ontact__email {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.contact__address {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
}

.contact__btn {
    grid-column: 1 / 3;
    grid-row: 3 / 4; 
    width: 180px;
    justify-self: center;
    margin-top: 10px;
}

.contacts__items {
    list-style: none;
    display: flex;  
    flex-direction: column;
    gap: 20px;  
}

.contacts__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item__title {
    font-weight: 800;
}

.item__btns {
    display: flex;
    gap: 10px;
}

.btn__delete,
.btn__edit {
    width: 150px;
}

.modal {
    font-family: 'Manrope';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__wrapper {
    background-color: #152f57;
    padding: 30px 25px;
    border-radius: 15px;
    min-height: 150px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.modal__title {
    color: #eff4fb;
    text-align: center;
    font-size: 20px;
}

.modal__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal__edit{
    width: 90%;
    color: #eff4fb;;
}

.modal__edit__title {
    font-weight: 400;
    margin-bottom: 5px;
}

.modal__input {
    background-color: #c4d5f1;
    width: 100%;
}

.modal__btns {
    margin-top: 15px;
}

.modal__cancel__btn,
.modal__save__btn {
    color:  #152f57;
    background-color: #eff4fb;
    width: 150px;
}

.modal__cancel__btn {
    margin-right: 15px;
}